# App
NODE_ENV= production
BASE_URL= http://localhost:3000
PORT= 3000

# Docker
DOCKER_USERNAME=softvence
PACKAGE_NAME=tomsliv_backend
PACKAGE_VERSION=latest

# Database
DATABASE_URL= postgresql://postgres:postgres@localhost:5433/nestjs_starter_db

# Redis
REDIS_HOST= localhost
REDIS_PORT= 22376

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=90d

# SMTP
MAIL_USER=test
MAIL_PASS=test

# Seed Admin
SUPER_ADMIN_EMAIL=test
SUPER_ADMIN_PASS=test

# AWS S3
31: AWS_REGION=test
32: AWS_ACCESS_KEY_ID=test
33: AWS_SECRET_ACCESS_KEY=test
34: AWS_S3_BUCKET_NAME=test
35: 
36: # Stripe
37: STRIPE_SECRET_KEY=sk_test_...
38: STRIPE_WEBHOOK_SECRET=whsec_...