api.farmlink.nz {
  handle /pgadmin* {
    reverse_proxy pgadmin:80 {
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Script-Name /pgadmin
    }
  }

  reverse_proxy /socket.io* api:3000

  @api {
    not path /socket.io*
    not path /pgadmin*
  }

  handle @api {
    request_body {
      max_size 500MB
    }

    reverse_proxy api:3000 {
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
      header_up Host {host}
    }
  }
}

ai.farmlink.nz {
  request_body {
    max_size 500MB
  }

  reverse_proxy 16.176.48.236:8000 {
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
  }
}

farmlink.nz {
  root * /var/www/html/dist
  try_files {path} /index.html
  file_server
  header {
    Cache-Control "public, max-age=31536000, immutable"
  }
  encode gzip
}

http://16.176.48.236 {
  root * /var/www/html/dist
  try_files {path} /index.html
  file_server
  header {
    Cache-Control "public, max-age=31536000, immutable"
  }
  encode gzip
}
